
header{
    position: relative;
    height:900px;
    background-image:url(./assets/Title-Image.png);
    background-repeat: no-repeat;
    background-size:cover;
    /* padding-bottom: 40%; */
}
.logo{
    height: 16px;
}
#maid{
    position: relative;
    top:50%;
    color: aliceblue;
}
#show-logo{
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.top{
    position: relative;
     list-style: none;
    display: inline-flex;

}
#top-left{
    justify-content:left;
    width: fit-content;
}
#top-right{
    position: relative;
    left:50%;
    width: fit-content;

}

caption img{
    padding-right: 10px;
    
}
td{
    padding: 7px 50px;
}
caption{
    display: inline-flex;
    justify-self:left;
}
table~p{
    position: relative;
    left:60px;
    padding: 7px;
    width: fit-content;
}
li{
    padding-left: 25px;
}