
header{
    height:900px;
    background-image:url(./assets/Title-Image.png);
    background-repeat: no-repeat;
    background-size:cover;
    /* padding-bottom: 40%; */
}
.logo{
    height: 11px;
}
#maid{
    position: relative;
    top:50%;
    color: aliceblue;
}
#show-logo{
    height: 20px;
}
.top{
    position: relative;
     list-style: none;
    display: inline-flex;

}
#top-left{
    justify-content:left;
    width: fit-content;
}
#top-right{
    position: relative;
    left:45%;
    width: fit-content;

}
nav{
    border: 2px solid white;
}

caption img{
    padding-right: 10px;
    
}
td{
    padding: 7px 50px;
}
caption{
    display: inline-flex;
    justify-self:left;
}
table~p{
    position: relative;
    left:60px;
    padding: 7px;
    width: fit-content;
}